
/* 
    Created on : 18 abr. 2022, 10:36:17
    Author     : Jose Mauricio Villeda Morales
*/



#panel-navegacion{
    -fx-background-color:  #273153;
}

#panel-identificacion{
    -fx-background-color:  #6D7489;
    -fx-background-radius: 0 0 60 60;
}

#lbl-identificacion{
    -fx-padding: 15px;
    -fx-border-insets: 7px;
    -fx-background-insets: 7px;
}
#vbox-botones{
    -fx-background-color :  #273153;
    -fx-background-radius : 30 30 30 30;     
}

.botones-crud{
    -fx-background-color:  #273153;
    -fx-background-radius : 10 10 10 10;     
}

.botones-crud:hover{
    -fx-background-color:  #1A2037;
    -fx-background-radius : 10 10 10 10;     
    -fx-padding: 10px;
    -fx-border-insets: 7px;
    -fx-background-insets: 7px;
}

.botones-crud:pressed{
    -fx-background-color:  #273153;
    -fx-background-radius : 10 10 10 10;     
    -fx-padding: 10px;
    -fx-border-insets: 7px;
    -fx-background-insets: 7px;
}